html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.gray{
	background: #cccccc;
}
h1{
	font-weight: bold;
}

#question{
	padding: 40px;
}

h2{
	padding-bottom: 20px;
}
#questionText{
	margin-top: 50px;
}
